body{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid gray;
}


/*############## Header ##################*/


#principal{/*background principla*/
    background-color: #E5E5E5;
}

#cabecalho{
    height: 150px;
    width: 100%;
}

#logo{
    width: 300px;
    height: 89.06px;
    padding: 20px 20px 20px 100px;

    
}

#logo00{
    width: 100%;
    height: 100%;
    
}


/*############# NavBar ##################*/

.midle{
    margin-top: -35px;
    padding-bottom: 40px;
}

a{
    border-left:1px solid white;
    border-right:1px solid white;
    margin-top: 0px;
    text-align: center;
}
a:hover{
    border-left:1px solid #E5E5E5;
    border-right:1px solid #E5E5E5;
}
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: right;
    list-style-type: none;
  }
  
a:hover{
    color: black;
}
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 37px 35px 28px 35px;
    background-color: white;
    text-decoration: none;
    margin-top: -24px;
  }
  
  li a:hover:not(.active) {
    border-bottom: 3px solid #6B3CB1;
    
  }

  .topnav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -30px;
    margin-right: 100px;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }



/*############# ProgressBar ##############*/
.step{
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 600;
    margin-left: 34px;
}
.progressbar{
    list-style: none;
    display: flex;
    width: 1340px;
    height: 200px;
    padding-top: 50px;
    background-color: #E5E5E5;
}

.progressbar li{
    top: 20px;
    
}

.progressbar li:after{
    content: '';
    width: 100%;
    height: 6px;
    background-color: var(--ligth-gray);

    position: absolute;
    top: 35px;
    left: 0;
}

.progressbar li.active::before{
    background-color: var(--purple);
    color: black;  
    
    
    
}

.progressbar li.active::after{

    background-color: var(--purple);

    content: attr(step);
    padding-top: 10px;
    width: 62px;
    height: 62px;
    background-color: white;
    color: black;
    font-size: 20pt;
    border-radius: 50%;
    text-align: center;

    top: -28px;
    left: calc(50% - 14.5px);
    z-index: 99;
    
}



.progressbar li.active{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--purple);

    color: black;

    height: 6px;
    top: 55px;
    
        
}


.progressbar li:before{
    display: flex;
    align-items: center;
    justify-content: center;
    
    content: attr(data-step);
    font-size: 20pt;

    width: 73.2px;
    height: 73.2px;
    border-radius: 50%;

    background-color: var(--ligth-gray);
    color: #7A7A7A;

    position: absolute;
    top: -50;
    left: calc(50% - 20px);
    z-index: 99;

}


.progressbar li{
    position: relative;
    color: var(--dark-gray);
    width: 35%;
    text-align: center;

    background-color: #E5E5E5;
   
}

:root{
    --dark-gray: #7A7A7A;
    --ligth-gray: #DADADA;
    --purple: #6B3CB1;

}

.cad{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}
.cad{
    margin-left: 50px;
}



/*#################### IMPORTAR PARA JS####################*/
.dont{
    margin-top: 85px;
}

/*#########################################################*/

/*############# Section #################*/



/*########## DADOS PESSOAIS ###*/

#cadCPF{width: 425px !important;}

#cadNasc{width: 425px !important;}

#cadRG{width: 430px !important;}

#cadNome{width: 1290px !important;}

/*############ ENDEREÇO #####*/

#CEP{width: 240px !important;}

#Logadouro{width: 645px !important;}

#Numero{width: 235px !important;}

#Complemento{width: 400px !important;}

#Bairro{width: 425px !important;}

#Cidade{width: 425px !important;}

#UF{width: 430px !important;}

.num{
    margin-right: 5px !important;
}

.buscar{
    width: 150px !important;
    height: 50px !important;
    margin: 3px 900px 0 10px!important;
    border-radius: 5% !important;
}




/*########## CONTATO ####*/

#cadEmail{width: 1300px !important;}

#cadTell{width: 645px !important;}

#cadTell0{
    width: 645px !important;
    margin-left: 10px;
    padding-left: 10px;
}

.input-group{
    width: 1300px;
    margin-left: -48px !important;
}

.contactForm{
    width: 1300px !important;
    float: left !important;
}

.back{
    margin-right: 10px !important;
}


.line{
    border: 5px solid black;
}
.part{
    
    padding: 60px;
    float: left;
}

#banner{
    height: 759px; 
}

.input{
    width: 430px;
    height: 50px;
    
}

.header{/*Texto principal*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 100px;
    size: 29pt;
}

#text{
    padding-left: 10px;
    padding-top: 20px;
    height: 10px;
    width: 250px;
}

.text00{
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: -25px;
}

.send{
    bottom: 0;
    margin: 127px -35px 0px 0px;
    width: 200px;
    height: 60px;
    float: right;
    background-color: #6B3CB1;
    color: aliceblue;
    border: none;
    box-shadow: black 0.5px 0.5px 0.1px;
}




/*############# Footer ##################*/


footer{
    bottom: 0;
}

#rodape{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    height: 315px;
    background-color: #6B3CB1;
    padding: 20px 0 0 60px;
    
}