body{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid gray;
}


/*############## Header ##################*/


#principal{
    background-color: #E5E5E5;
}

#cabecalho{
    height: 150px;
    width: 100%;
}

#logo{
    width: 300px;
    height: 89.06px;
    padding: 20px 20px 20px 100px;

    
}

#logo00{
    width: 100%;
    height: 100%;
    
}


/*############# Section #################*/



#banner{
    height: 759px; 
}

.input{
    margin: 0 auto;
    width: 600px;
    height: 50px;
}

.header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-bottom: 100px;
    size: 29pt;
}

#text{
    margin: 0 auto;
    padding-top: 100px;
    height: 354px;
    width: 811px;
    text-align: center;
}

.text00{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    size: 60pt;
    margin-bottom: -25px;
}

.send{
    width: 300px;
    height: 50px;
    margin: 10px auto;
    background-color: #6B3CB1;
    color: aliceblue;
    border: none;
    box-shadow: black 0.5px 0.5px 0.1px;
}


/*############# NavBar ##################*/

.midle{
    margin-top: -35px;
    padding-bottom: 40px;
}
.login{
   
}

a{
    border-left:1px solid white;
    border-right:1px solid white;
    margin-top: 0px;
    text-align: center;
}
a:hover{
    border-left:1px solid #E5E5E5;
    border-right:1px solid #E5E5E5;
}
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: right;
    list-style-type: none;
  }
  
a:hover{
    color: black;
}
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 37px 35px 28px 35px;
    background-color: white;
    text-decoration: none;
    margin-top: -24px;
  }
  
  li a:hover:not(.active) {
    border-bottom: 3px solid #6B3CB1;
    
  }

  .topnav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -30px;
    margin-right: 100px;
  }

  .login{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }


/*############# Footer ##################*/


footer{
    
    bottom: 0;
}

.textBot{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

#rodape{
    color: white;
    height: 315px;
    background-color: #6B3CB1;
    padding: 20px 0 0 60px;
}